@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

/*font start*/
@font-face{
  src: url(./fonts/Lato-Black.ttf);
  font-family: Lato-Black;
}
@font-face{
  src: url(./fonts/Lato-Bold.ttf);
  font-family: Lato-Bold;
}
@font-face{
  src: url(./fonts/Lato-Light.ttf);
  font-family: Lato-Light;
}
@font-face{
  src: url(./fonts/Lato-Regular.ttf);
  font-family: Lato-Regular;
}
/*font END*/

body{
  font-family: "Lato", sans-serif;
}

/*NAVBAR START*/

div.c_container{
    margin: 0;
    padding: 0;
}
a.c_a{
 font-size: 18px;
}
a.c_a:hover{
    color: white !important;
    border-bottom: 1px solid;
}
.dropdown-toggle::after {
    margin-left: 3px;
    vertical-align: 2px;
}
.c_button {
    color: #b3cae1;
    border-color: #a8bad4;
}
.c_button:hover {
    color: #fff;
    background-color: #3d495b;
    border-color: #8a7650;
    }
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    padding: 4px 14px;
    height: 35px;
    margin-top: 1px;
}
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.darks {
    background-color: #4b5280 !important;
}
.form-control {
    display: block;
    width: 96%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 10px;
    }

/*NAVBAR END*/

/*DROP DOWN MENU START*/
.dropdown-menu{
    top: 121%;
    min-width: 10rem;
    padding: 0.5rem 0;
    color: #01111f;
    background-color: #4B5280;
    background-clip: padding-box; 
}
.dropdown-item {
     color: rgba(255, 255, 255, 0.55);
    padding: 10px;
  }
/*HERO START*/
section.hero{
  height: 650px;
  background-image:url("../image/banner-bg-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
div.banner-content{
    padding-top:150px;
}

span.top-title{
     font-weight: 700;
    font-size: 17px;
    color: white;
}
h1.hero_h1{
  font-size: 60px;
  color: white;
  margin-bottom: 30px;
  margin-top: 15px;
}
p.hero_p{
    font-size: 18px;
    color: white;
    font-family: 'Lato';
    font-weight: 400;
    /* letter-spacing: 1px; */
    line-height: 27px;
    margin-bottom: 0;
}

/*CONTACT US BUTTON START*/
div.custom_b {
      margin-top: 25px;
      width:30%;
}

.btnc{
     position: relative;
    display: block;
    color: white;
    font-size: 16px;
    font-family: "lato";
    font-weight: 300;
    text-decoration: none;
    margin: 0;
    border: 1px solid #d02020;
    padding: 10px;
    overflow: hidden;
    transition: 1s all ease;
    text-align: center;
}
.btnc::before{
  background: #e5194a;

  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(30deg);
}
.btn3:hover::before{
  height: 380%;
}

div.wow{
  text-align:center;
}
div.banner-video{
    margin-top: 65%;
    margin-left: 0%;
}
/*CONTACT US BUTTON END*/

/*CIRCLE SUN START*/
.video-btn {
  display: inline-block;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  border-radius: 0;
  position: relative;
  top: 3px;
  z-index: 1;
  background-color: rgba(255, 42, 96, 0.9);
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-btn i {
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  top: 1px;
  left: 3px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.video-btn::after, .video-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 0;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-animation: ripple 1.6s ease-out infinite;
  animation: ripple 1.6s ease-out infinite;
  background-color: rgba(255, 42, 96, 0.9);
}

.video-btn:hover {
  background-color: rgba(255, 90, 0, 0.9);
}

.video-btn:hover::before, .video-btn:hover::after {
  background-color: rgba(255, 90, 0, 0.9);
}

@-webkit-keyframes ripple {
  0%, 35% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes ripple {
  0%, 35% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}
/*CIRCLE SUN END*/
/*HERO END*/

/*FEATURE AREA START*/
div.single-feature{
  background:#000219;
}
h3.f_h3{
  color: white;
  font-size: 20px;
}
p.f_p{
    color: white;
}
.feature-area {
    position: relative;
    margin-top: -130px;
    margin-bottom: 60px;
    z-index: 1;
    overflow: hidden;
}

.feature-area.feature-area-two {

}

.feature-area.feature-area-two .single-feature {
  margin-top: 35px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.feature-area.feature-area-two .single-feature .feature-shape {
  position: absolute;
  bottom: 0;
  right: 0;
}

.feature-area.feature-area-two .single-feature:hover {
  /*background-color: #e21f36;*/
  background-color: black;
}

.feature-area.feature-area-two .single-feature:hover i {
  color: #ffffff;
}

.feature-area.feature-area-three {
  z-index: 1;
  position: relative;
}

.feature-area.feature-area-three .feature-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.4;
}

.feature-area.feature-area-four .single-feature {
  background-color: #000219;
}

.feature-area.feature-area-four .single-feature h3 {
  color: #ffffff;
}

.feature-area.feature-area-four .single-feature p {
  color: #ffffff;
}

.feature-area.feature-area-five .single-feature {
  background-color: #000219;
}

.feature-area.feature-area-five .single-feature h3 {
  color: #ffffff;
}

.feature-area.feature-area-five .single-feature p {
  color: #ffffff;
}

.ptb-100 {
  padding-top: 80px;
  padding-bottom: 70px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  /*padding-top: 70px;*/
}

.mt-100 {
  margin-top: 100px;
}

.mt-minus-100 {
  margin-top: -100px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.single-feature {
  background-color: #000219;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #ffffff;
}

.single-feature .title {
  position: relative;
  margin-bottom: 28px;
}

.single-feature .title i {
  position: absolute;
  top: 0;
  font-size: 50px;
  line-height: 1;
  color: #e21f36;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.single-feature .title h3 {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  padding-left: 65px;
  padding-top: 12px;
}

.single-feature p {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-bottom: 0;
}
/*ICON HOVER*/
.single-feature:hover {
  background-color: #e21f36;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.single-feature:hover .title i {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  color: #ffffff;
}

.single-feature:hover .title h3 {
  color: #ffffff;
}

.single-feature:hover p {
  color: #ffffff;
}
.overly-one:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
/*ICON HOVER*/

p.f_p{
     font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-weight: 500;
    color: white;
}

p:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*************************************************************************************/
/*HOVER EFFECT*/
.overly-one {
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.overly-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#e21f36), to(transparent));
  background: linear-gradient(left, #e21f36, transparent);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 1;
}

.overly-one::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e21f36), to(transparent));
  background: linear-gradient(top, #e21f36, transparent);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.overly-one .overly-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#e21f36));
  background: linear-gradient(left, transparent, #e21f36);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}

.overly-one .overly-two::after {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#e21f36), to(transparent));
  background: linear-gradient(bottom, #e21f36, transparent);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
}
.overly-one:hover::before {
  right: 20px;
  opacity: 1;
}

.overly-one:hover::after {
  bottom: 30px;
  opacity: 1;
}

.overly-one:hover .overly-two::before {
  left: 30px;
  opacity: 1;
}

.overly-one:hover .overly-two::after {
  top: 30px;
  opacity: 1;  
}
/*HOVER EFFECT END*/

/*APPROACH AREA START*/
/*33333333333333333333333333333333333333*/
section.our-approach-area{
      padding-bottom: 50px;
}
.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(3) 
.single-approach {
  background-color: transparent;
  background-color: #ffffff;
  z-index: 1;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(3) 
.single-approach::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000219;
  z-index: -1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(3) 
.single-approach:hover::before {
  width: 0;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(3) 
.single-approach:hover h3 {
  color: #000219;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(3) 
.single-approach:hover p {
  color: #4b5280;
}
/*33333333333333333333333*/

/*1111111111111111111111111111111*/
.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(1) 
.single-approach {
  background-color: transparent;
  background-color: #ffffff;
  z-index: 1;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(1) 
.single-approach::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000219;
  z-index: -1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(1) 
.single-approach:hover::before {
  width: 0;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(1) 
.single-approach:hover h3 {
  color: #000219;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(1) 
.single-approach:hover p {
  color: #4b5280;
}
/*11111111111111111111111111*/

/*22222222222222222222222222222222*/
.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(2) 
.single-approach {
  background-color: transparent;
  background-color: #ffffff;
  z-index: 1;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(2) 
.single-approach::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000219;
  z-index: -1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(2) 
.single-approach:hover::before {
  width: 0;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(2) 
.single-approach:hover h3 {
  color: #000219;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(2) 
.single-approach:hover p {
  color: #4b5280;
}
/*22222222222222222222222222222*/

/*4444444444444444444444444444444444444444*/
.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(4) 
.single-approach {
  background-color: transparent;
  background-color: #ffffff;
  z-index: 1;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(4) 
.single-approach::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000219;
  z-index: -1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(4) 
.single-approach:hover::before {
  width: 0;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(4) 
.single-approach:hover h3 {
  color: #000219;
}

.our-approach-area.our-approach-area-four 
.col-lg-6 .row .col-lg-6:nth-child(4) 
.single-approach:hover p {
  color: #4b5280;
}

.our-approach-area.our-approach-area-four 
.single-approach h3 {
  color: #ffffff;
}

.our-approach-area.our-approach-area-four 
.single-approach p {
  color: #ffffff;
}
.approach-content {
  /*margin-left: 30px;*/
}
div.c_padding{
    padding-top: 15px;
    padding-bottom: 20px;
}
.approach-content .cc_h3 {
   font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
    color: #000219;
}

.single-approach {
  /*background-color: #ffffff;*/
  border-left: 2px solid #e21f36;
  padding: 20px;
  margin-bottom: 30px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  position: relative;
}

.single-approach h3 {
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 700;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.single-approach p {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  font-size: 16px;
}

.single-approach:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.approach-img {
background-image: url("../image/approach-img-4.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95%;
    padding-bottom: 30px;
    position: relative;
}
img.a_imag{
 display: none; 
}
/*APPROACH AREA END*/

/*CHALLENGE AREA START*/
.challenges-area {
  padding-top: 80px;
  padding-bottom: 60px;
  /*margin-top: 50px;*/
  background-image: url("../image/challenges-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.challenges-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000219;
  opacity: 0.75;
}

.challenges-area.challenges-area-two {
  background-image: unset;
  background-color: #000219;
}

.challenges-area.challenges-area-two::before {
  display: none;
}

.challenges-area.challenges-area-two .challenges-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.challenges-area.challenges-area-two .single-challenges i {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.challenges-area.challenges-area-two .single-challenges h3 {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.challenges-area.challenges-area-two .single-challenges p {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.challenges-area.challenges-area-two .single-challenges:hover {
  background-color: #e21f36;
}

.challenges-area.challenges-area-two .single-challenges:hover i {
  color: #ffffff;
}

.challenges-area.challenges-area-two .single-challenges:hover h3 {
  color: #ffffff;
}

.challenges-area.challenges-area-two .single-challenges:hover p {
  color: #ffffff;
}

.single-challenges {
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 30px 25px;
  text-align: center;
  z-index: 1;
}

.single-challenges i {
  font-size: 50px;
  color: #e21f36;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}

.single-challenges h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 600;
}

.single-challenges p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
}

.single-challenges .span {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 100px;
    z-index: -1;
    opacity: 0.2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-challenges:hover {
  -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
/*CHALLENGE AREA END*/


/*GET IN TOUCH START*/
.section-title {
  max-width: 750px;
  margin: -5px auto 50px;
  text-align: center;
  position: relative;
}

.section-title span {
  display: block;
  margin-bottom: 12px;
  color: #e21f36;
  font-weight: 600;
  font-size: 17px;
}

.section-title h2 {
  font-size: 40px;
    font-family: 'Lato';
    /*margin-bottom: 15px;*/
    position: relative;
    line-height: 50px;
  font-weight: 600;
    color: #000219;
}

.section-title h2:last-child {
  margin-bottom: 0;
}

.section-title.white-title span {
  color: #ffffff;
}

.section-title.white-title h2 {
  color: #ffffff;
}

.section-title.white-title p {
  color: #ffffff;
}
.get-in-touch-area {
  background-image: url("../image/get-in-touch-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 50px;
  z-index: 1;
}

.get-in-touch-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000219;
  opacity: 0.75;
  z-index: -1;
}

.get-in-touch-area.get-in-touch-area-two {
  background-image: unset;
  z-index: 1;
}

.get-in-touch-area.get-in-touch-area-two::before {
  display: none;
}

.get-in-touch-area.get-in-touch-area-two .get-in-touch-shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.get-in-touch-area.get-in-touch-area-two .get-in-touch-form .form-group label {
  color: #000000;
}

.get-in-touch-area.get-in-touch-area-two .get-in-touch-form .form-group .form-control {
  border: 1px solid #ebebeb !important;
}

.get-in-touch-area.get-in-touch-area-two .get-in-touch-form .form-group .form-control:focus {
  border-color: #e21f36 !important;
}
.get-in-touch-form {
  text-align: center;
  max-width: 810px;
  margin: auto;
}

.get-in-touch-form .form-group {
  margin-bottom: 30px;
}

.get-in-touch-form .form-group label {
  text-align: left;
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 600;
}

.get-in-touch-form .form-group .form-control {
  background-color: #ffffff;
  border: none !important;
  height: 45px;
  padding-left: 15px;
}

.get-in-touch-form .form-group textarea {
  height: 100% !important;
}
div.button_touch{
    margin-left: 33%;
   /* border: 1px solid #d6d6da;*/
}
/*GET IN TOUCH AREA END*/

/*FEATURE AREA START*/

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.form-control::-webkit-input-placeholder {
  color: #676a6a;
}

.form-control:-ms-input-placeholder {
  color: #676a6a;
}

.form-control::-ms-input-placeholder {
  color: #676a6a;
}

.form-control::placeholder {
  color: #676a6a;
}

.form-control:focus {
 /* color: #000000;
  background-color: transparent;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  outline: 0;
  /*border: 1px solid #e21f36;*/
}

.form-control:hover:focus, .form-control:focus {
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

textarea.form-control {
  height: auto;
}

/*SERVICE AREA START*/
section.services-area{
     padding-top: 90px;
}
.single-services {
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  overflow: hidden;
  margin-bottom: 30px;
}

.single-services .services-img a {
  position: relative;
}

.single-services .services-img a::before {
    content: "";
    position: absolute;
    top: -800%;
    left: 0;
    width: 100%;
    height: 1780%;
    display: block;
     background: -webkit-gradient(linear, left bottom, left top, from(#000219), to(transparent));
}

.single-services .services-content {
  position: absolute;
  bottom: -140px;
  left: 0;
  right: 0;
  padding: 30px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.single-services .services-content h3 {
  margin-bottom: 15px;
}

.single-services .services-content h3 a {
   color: #ffffff;
    text-decoration: none;
    font-size: 24px;
  font-weight: bold;
}

a.custom_a{
    font-weight: 700;
    color: #a10e0e;
    text-decoration: none;
    font-size: 20px;}

a.custom_a i{
    position: relative;
    top: 5.7px;
    margin-left: 0px;
}
i.flaticon-right-arrow{

}
.single-services .services-content h3 a:hover {
  color: #e21f36;
}

.single-services .services-content p {
     color: #ffffff;
    font-size: 15px;
}

.single-services:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.single-services:hover .services-content {
  bottom: 0;
}
/*SERVICE AREA END*/

/*SOLUTIOON ARES START*/
div.solution_row{
  justify-content: flex-end;
}
.solution-area {
  overflow: hidden;
  padding-top: 100px;
}

.solution-area .col-lg-6.pr-0 {
  padding-right: 0;
}

.solution-area.solution-area-three {
  position: relative;
  z-index: 1;
}

.solution-area.solution-area-three .container-fluid {
  max-width: 100%;
}

.solution-area.solution-area-three .solution-shape-left {
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 50px;
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.solution-content {
 max-width: 600px;
  margin-left: auto;
}

.solution-title {
  margin-bottom: 30px;
}

.solution-title span {
     font-weight: 600;
    display: block;
    margin-bottom: 10px;
    color: #e21f36;
    font-size: 17px;
}

.solution-title h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.4;
}

.single-solution {
  padding: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  margin-bottom: 30px;
}

.single-solution h3 {
  margin-bottom: 12px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}

.single-solution h3 a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
}

.single-solution p {
     margin-bottom: 0;
    color: black;
}

.single-solution span {
  position: absolute;
  top: -13px;
  right: -4px;
  line-height: 1;
  font-size: 80px;
  opacity: 0.1;
  font-weight: 700;
}

.solution-img {
 background-image: url("../image/solution-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 30px;
  position: relative;
}

.solution-img::before {
 content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
}

.solution-img img {
  display: none;
}

/*SOLUTIOON ARES END*/

/*PROTECT AREA START*/
.protect-area {
    overflow: hidden;
    padding-top: 100px;
    margin-bottom: 30px;
}

.protect-area .single-challenges {
  background-color: #ffffff;
  padding: 20px;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(2) .single-challenges {
  margin-top: 30px;
  background-color: #e21f36;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(2) .single-challenges i {
  color: #ffffff;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(2) .single-challenges h3 {
  color: #ffffff;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(2) .single-challenges p {
  color: #ffffff;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(3) .single-challenges {
  margin-top: -30px;
  background-color: #e21f36;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(3) .single-challenges i {
  color: #ffffff;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(3) .single-challenges h3 {
  color: #ffffff;
}

.protect-area .col-lg-6 .row .col-lg-6:nth-child(3) .single-challenges p {
  color: #ffffff;
}

.protect-area.protect-area-three {
  position: relative;
  z-index: 1;
}

.protect-area.protect-area-three .single-challenges {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.protect-area.protect-area-three .single-challenges i {
  color: #e21f36;
}

.protect-area.protect-area-three .single-challenges h3 {
  color: #000219;
}

.protect-area.protect-area-three .single-challenges p {
  color: #4b5280;
}

.protect-area.protect-area-three .protect-left-shape {
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 50px;
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
}

.protect-area.protect-area-four .single-challenges {
  background-color: #000219;
}

.protect-area.protect-area-four .single-challenges i {
  color: #ffffff;
}

.protect-area.protect-area-four .single-challenges h3 {
  color: #ffffff;
}

.protect-area.protect-area-four .single-challenges p {
  color: #ffffff;
}

.protect-content .protect-title {
  margin-bottom: 40px;
}

.protect-content .protect-title span {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: #e21f36;
}

.protect-content .protect-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.4;
}

.protect-img {
 background-image: url("../image/protect-img.jpg");
background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95%;
    padding-bottom: 30px;
    position: relative;

}
img.protect_img2{
display: none;
}
/*PROTECT AREA END*/

/*FOOTER START*/
.footer-area {
    background-image: url(../image/footer-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    padding-bottom: 70px;
    margin-top: 80px;
    z-index: 1;
}

.footer-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000219;
    opacity: 0.9;
    z-index: -1;
}
.single-footer-widget {
    margin-bottom: 30px;
}
.single-footer-widget{
    margin-bottom: 20px;
}
.logo{
width: 100%;
}
div.img_box{
     width: 150px;
    height: auto;
}
.single-footer-widget p {
      margin-bottom: 30px;
    color: #ffffff;
    margin-top: 20px;
}
.single-footer-widget .social-icon {
    line-height: 1;
}

.single-footer-widget .social-icon li {
    display: inline-block;
    margin-right: 5px;
}
.single-footer-widget h3 {
    color: #ffffff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    position: relative;
}
.single-footer-widget h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #31354d;
}
.single-footer-widget .address {
    color: #ffffff;
}
.single-footer-widget .address .location {
    padding-left: 40px;
    position: relative;
}
.single-footer-widget .address li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 16px;
    color: #ffffff;
}
.single-footer-widget .address li i {
    position: absolute;
    color: #e21f36;
    left: 0;
    top: 5px;
    font-size: 25px;
}
.single-footer-widget .address li a {
    display: block;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 6px;
}

.single-footer-widget .import-link li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 11px;
    height: 11px;
    background-color: #e21f36;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.single-footer-widget .import-link li {
    margin-bottom: 11px;
    position: relative;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.9);
}
.single-footer-widget .import-link li a {
    color: rgba(255, 255, 255, 0.9);
}
.single-footer-widget .import-link li:hover::before {
    border-radius: 50%;
}
ul.import-link li a{
  text-decoration:none;
}

ul.address li a{
  text-decoration:none;
}
.single-footer-widget .import-link li a:hover{
 border-bottom: 1px solid #ebcb7b;
}
/*SOCIAL ICON*/

.single-footer-widget .social-icon li a i {
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.single-footer-widget .social-icon li a i:hover{
  color:#e21f36;
  transform: rotateY(380deg);
}

/*FOOTER END*/

/*Copy Right Area Start*/
.copy-right-area {
  background-color: #000219;
  border-top: 1px solid #212437;
  padding-top: 15px;
  padding-bottom: 15px;
}

.copy-right-area p {
  color: #ffffff;
}

.copy-right-area p i {
  position: relative;
  top: 1px;
}

.copy-right-area p a {
    color: #e21f36;
    font-weight: initial;
    text-decoration: none;
    font-family: 'Font Awesome 5 Brands';
    font-size: 16px;
}

.copy-right-area .footer-menu {
  text-align: right;
}

.copy-right-area .footer-menu li {
  display: inline-block;
  margin-right: 15px;
}

.copy-right-area .footer-menu li:last-child {
  margin-right: 0;
}

.copy-right-area .footer-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.copy-right-area .footer-menu li a:hover {
 color: #e21f36;
}
/*copy right end*/

